<Layouts.app flash={@flash} current_scope={@current_scope}>
  <div>
    Hello World
    <h1>H1</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <h4>H4</h4>
    <h5>H5</h5>
    <h6>H6</h6>
    <p>
      this is a paragraph as a test to see how they look.
    </p>

    <ul>
      <li>Test list</li>
      <li>Test list</li>
    </ul>
    <a href="https://google.com">Google test link</a>
  </div>
</Layouts.app>
